<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  为了测试 占位符 对应测试类型: com.bo.resolvePlaceholders.ResolvePlaceholdersTest-->
	<bean id="user" class="com.bo.resolvePlaceholders.User">
		<property name="id" value="10086"></property>
		<property name="name" value="欢迎致电移动客服10086"></property>
	</bean>
</beans>